body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
}

img {
    -webkit-user-drag: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#login {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 30px 50px 30px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: 	hsla(141, 73%, 42%, 0.85);
    color: black;
    transform: translateY(-50%);
}

#login:hover {
    background-color: hsla(141, 73%, 42%, 0.95);
}

#main {
    flex-direction: row;
    background-color: hsl(0, 0%, 13%);
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
}

#playlists {
    background-color: hsl(0, 0%, 13%);
    width: 40%;
    height: 100%;
    border-radius: inherit;
    overflow-y: auto;
    user-select: none;
}

#player {
    background-color: hsla(141, 73%, 42%, 0.75);
    width: 60%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.instruction {
    color: grey;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.playlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 10px;
    padding: 10px;
    border-radius: 15px;
}

.playlist:hover {
    cursor: pointer;
    background-color: #555;
}

.currentlyPlaying {
    filter: brightness(50%);
}

.playingImg {
    margin-left: auto;
    border-radius: 10px;
}

.selectedPlaylist {
    background-color: hsla(0, 0%, 33%, 0.8);
}

.playlistName {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.playlistImage {
    max-width: 200px;
    max-height: 200px;
    margin-right: 20px;
    border-radius: 15px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 13%);
}

::-webkit-scrollbar-thumb:active {
    background: #555;
}

#playerControls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: hsla(141, 73%, 42%, 0.75);
    width: 90%;
    height: 90%;
    border-radius: 20px;
}

#volume {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 80%;
}

#music {
    text-align: center;
    width: 60%;
}

.songImage {
    border-radius: 15px;
    width: 400px;
    transition: opacity 0.5s ease-in-out;
}

.songName {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    transition: opacity 0.5s ease-in-out;
}

.songArtist {
    color: black;
    font-size: 1rem;
    transition: opacity 0.5s ease-in-out;
}

.controlButton, #playPauseButton, #musicProgress, #volumeSlider {
    cursor: pointer;
}

.progressContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.startTime {
    margin-right: 10px;
}

.finishTime {
    margin-left: 10px;
}

.useless {
    pointer-events: none;
    visibility: hidden;
}

#musicProgress{
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 8px;
    background: #ccc;
    border: 1px solid #ccc;
}

#musicProgress::-webkit-slider-thumb {
    appearance: none;
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}

#musicProgress::-webkit-slider-thumb:hover {
    background-color: white;
    width: 16px;
    height: 16px;
}

#volumeSlider {
    appearance: none;
    cursor: pointer;
    outline: none;
    width: 8px;
    border-radius: 15px;
    background: #ccc;
    border: 1px solid #ccc;
}

#volumeSlider::-webkit-slider-thumb {
    appearance: none;
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
    transition: .2s ease-in-out;
}

#volumeSlider::-webkit-slider-thumb:hover {
    background-color: white;
    width: 16px;
    height: 16px;
}

.volumeImage {
    margin-top: 10px;
    width: auto;    
    max-height: 30px;
    cursor: pointer;
    background-color: black;
    border-radius: 30px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.controlButton {
    font-size: 1.5rem;
    margin: 10px;
    background: none;
    border: none;
    color: #ccc;
    transition: transform 0.2 ease-in-out;
}

#playPauseButton {
    font-size: 2.5rem;
    margin: 10px;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    border: none;
    transition: transform 0.2 ease-in-out;
}

#playPauseButton:hover, .controlButton:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

#playPauseButton:active, .controlButton:active {
    transform: scale(0.95);
}

.spinLoopButton {
    animation: spin 2s linear infinite;
    animation-fill-mode: both;
}

@keyframes spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.large {
    font-size: 4rem;
    font-weight: bold;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
    opacity: 1;
}